:root {
    --bg: #f0f0f0;
    --text: #333;
    --card: #f0f0f0;
    --border: #333;
}

/* DARK MODE */
body.dark {
    --bg: #121212;
    --text: #f5f5f5;
    --card: #1e1e1e;
    --border: #444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--bg);
    color: var(--text);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    transition: background 0.3s ease, color 0.3s ease;
}

/* =========================
   MAIN LAYOUT
========================= */
.hero {
    display: flex;
    flex: 1;
    gap: 20px;
    align-items: flex-start;
}

/* LEFT SIDEBAR */
.hero-content {
    flex: 0 0 200px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: 0.5px solid #333;
    border-radius: 10px;
}

/* RIGHT SIDE WRAPPER */
.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* =========================
   PROFILE SECTION
========================= */
/* container handles sticky */
.hero-img {
    position: relative;
    top: 10px;
    z-index: 1000;
}

.profile-img {
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    border: 2px solid #333;
    box-shadow: #278cff 0px 4px 8px, #000000 0px 1px 1px;
    animation: bounce 1.2s infinite;
    transition: all 0.3s ease;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    40% { transform: translateY(-12px); }
    60% { transform: translateY(-6px); }
}

.profile-img:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: #05f390 0px 4px 8px;
}

.profile-name {
    font-size: 21px;
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
}

/* EXPERTISE */
.hero-expertise {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-img {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-left: 30px;

    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.expertise {
    font-size: 19px;
    font-weight: bold;
}

/* SKILLS */
.hero-skills {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.hero-skills p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* STATUS */
.status-pill {
    display: flex;
    align-items: center;
    justify-content: center;   /*  centers content nicely */
    gap: 7px;

    padding: 6px 12px;
    background: rgba(225,255,225,0.5);
    border: 1px solid #184418;
    border-radius: 100px;
    box-shadow: 5px 5px;

    font-size: 14px;
    margin-top: 12px;

    width: fit-content;        /*  prevents stretching */
    margin-left: auto;         /*  centers horizontally */
    margin-right: auto;
    animation: bounce1 2.2s infinite;
}

@keyframes bounce1 {
    0%, 100% { transform: translateY(0); }
    40% { transform: translateY(-16px); }
    60% { transform: translateY(-6px); }
}

.status-dot {
    width: 10px;
    height: 10px;
    background-color: #184418;
    border-radius: 50%;
    flex-shrink: 0;
}

.status-pill:hover {
    background-color: rgb(13, 32, 13);
    color: white;
    cursor: pointer;
}



/* =========================
   NAVIGATION
========================= */
/* NAV CONTAINER */
.nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: fit-content;
    justify-content: space-between;
    display: flex;
    align-items: center;

    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */

    padding: 10px 20px;

    background: var(--card);
    border: 1px solid var(--border);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    /* border: 1px solid black; */
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2),
                0 6px 20px rgba(0,0,0,0.19);
}

.nav-menu {
    display: block;
}

.nav-menu ul {
    display: flex;
    /* flex-direction: row; keep horizontal even on mobile */
    /* justify-content: center; */
    /* align-items: center; */

    gap: 20px;

    /* width: auto; */
    list-style: none;
    align-items: center;
}

.nav-menu li a {
    font-weight: 900; 
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #5a5959;
    border-radius: 100px;
    transition: 0.3s ease;
}

.nav-menu li a:hover {
    background-color: #333;
    color: #fff;
}

/* BURGER (HIDDEN BY DEFAULT) */
.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger span {
    width: 25px;
    height: 3px;
    background: black;
}

/* =========================
   DARKMODE TOGGLE
========================= */
.dark-toggle {
    cursor: pointer;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px; /* keeps it perfectly round */

    border-radius: 50%;
    transition: all 0.3s ease;

    user-select: none; /* prevents text selection */
}

.dark-toggle:hover {
    background: rgba(0,0,0,0.1);
    transform: scale(1.1);
}

/* =========================
   RIGHT PANEL
========================= */
.right-panel {
    display: flex;
    flex-direction: column;

    max-width: 1000px;
    width: 100%;
    margin: 20px 0;
    padding: 20px;

    border: 1px solid var(--border);
    border-radius: 15px;
    background: var(--card);
    box-shadow: 10px 10px;
}

/* CONTENT HEADER */
.section-header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* TEXT */
.home-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-content h2 {
    font-size: 34px;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 2px;
}

/* ARROW */
.section-subject::after {
    content: " ↓";
    margin-left: 8px;
    animation: bounce2 1s infinite;
}

@keyframes bounce2 {
    0%, 100% { transform: translateY(0); }
    40% { transform: translateY(-16px); }
    60% { transform: translateY(-6px); }
}

.section-description {
    font-size: 16px;
    line-height: 2;
}

/* IMAGES */
.home-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 2px solid #04aff3;
    transition: 0.3s;
}

.home-img:hover {
    transform: scale(1.05);
}

/* /* =========================
   MODAL
========================= */
/* .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.9);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; /* keeps aspect ratio 
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
} */ 

/* =========================
   FOOTER
========================= */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    width: 100%;
}

.footer:hover {
    background-color: #000;
    cursor: pointer;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 768px) {
     /* MAIN LAYOUT */
    .hero {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    /* LEFT SIDEBAR */
    .hero-content {
        flex: none;
        width: 100%;
        background: var(--card);
        padding: 20px; 
        border-right: 0.5px solid var(--border);
        border-bottom: 1px solid #ccc;
        border-radius: 0;
    }

    /* RIGHT SIDE */
    .right-side {
        width: 100%;
    }

    .right-panel {
        margin: 10px;
        width: auto;
        box-shadow: 5px 5px;
    }


    /* NAVIGATION */
    .nav {
    display: flex;
    justify-content: flex-end; /* MOVE EVERYTHING RIGHT */
    align-items: center;

    margin-left: 70%;
    padding: 10px 15px;
    border-radius: 10px;

    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
                0 6px 20px rgba(0, 0, 0, 0.19);
    }

    /* SHOW BURGER */
    .burger {
        display: flex;
    }

    /* HIDE MENU BY DEFAULT */
    .nav-menu {
        display: none;

        position: absolute;
        top: 50px;
        left: 0;

        /* width: 100%; */
        background: var(--bg);
        border-radius: 10px;
        box-shadow: 5px 5px var(--text);
    }

    /* STACK MENU ITEMS */
    .nav-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        /* justify-content: flex-start; */
        /* margin-right: 10%; */
        width: 100%; /* FIXED missing ; */
        gap: 5px;
    }

    .nav-menu li a {
        padding: 10px;
        display: block;
        width: 100%;
    }

    /* SHOW WHEN ACTIVE */
    .nav-menu.active {
        display: flex;
        flex-direction: column;
        margin-left: -100%;
    }

    /* SECTION HEADER */
    .section-header {
        flex-direction: column;
        gap: 10px;
    }

    /* PROFILE IMAGE */
    .profile-img {
        width: 180px;
        height: 180px;
    }

    /* HOME IMAGES */
    .home-images {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .home-img {
        width: 130px;
        height: 130px;
    }

    /* ICON FIX */
    .icon-img {
        margin-left: 110px;
    }

    .expertise {
        margin-left: 3px;
    }
    /* TEXT CENTER FIX */
    .home-content h2 {
        font-size: 26px;
        text-align: center;
    }

    .section-description {
        text-align: center;
        font-size: 15px;
    }
    

}